Repository fga-eps-mds/2022-1-Visualeasy-Doc, pull requests merged in 2022-07, with the labels that each got.

#4 Adição do custo
  docs/documentacao/custo.md
  mkdocs.yml
Labels: documentation, EPS

#57 Add knowledge board
  docs/documentacao/quadro-conhecimento.md
  mkdocs.yml
Labels: DOCS, EASY, EPS

#64 Adição do TAP
  docs/documentacao/tap.md
  mkdocs.yml
Labels: DOCS, EPS
